
input, textarea {
    color: #000000;

    background-color: #bdc4c4;
    border: solid 2px #000000;
}

.inputLabel {
    margin-top: 30px;
    margin-bottom: 30px;

    width: 40em;

    display: flex;
    flex-direction: column;
}

.sendButton {
    background-image: url("../images/F1_chequered_flag.png");
    background-size: 200px;

    width: 400px;
    height: 50px;

    margin-bottom: 30px;
}

@keyframes carAnim1 {
    0% {
        transform: translateX(400px);
    }
    50% {
    
    }
    100% {

    }
}

.carAnim {
    width: 280px;

    position: relative;
    bottom: 119px;
    left: 400px;

    animation-name: carAnim1;
    transition-duration: 5s;
    animation-iteration-count: infinite;
}

