
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

@font-face {
    font-family: "Ferro Rosso";
    src: url("../fonts/FerroRosso.ttf");
}

* {
    font-family: 'Zilla Slab', serif;
    color: beige;
}

body {
    margin: 0px;
    background-color: #590202;
}

main {

    display: flex;
    flex-direction: column;
    flex-grow: 2;

    margin-right: 15%;
    margin-left: 15%;
    margin-top: 70px;   
}

section {
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 130%;
}

.notice {
    color: yellow;
}


@media screen and (max-width: 991px) {
    .nav-link {
        background-color: #212529;
        padding: 10px;
    }
}

@media screen and (max-width: 767px) {

    * {
        font-size: 95%;
    }

    .enzoFerrari { 
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    * {
        font-size: 95%;
    }

    .mainTitle {
        content-visibility: hidden;
    }

    main {
        margin-top: 0px;
    }

    .enzoFerrari { 
        width: 240px;
    }
}

@media print {
    * {
        font-size: 95%;
        color: black;
    }

    .navbar {
        display: none;
    }

    .navbar-brand {
        display: none;
    }

    .enzoFerrari { 
        width: 300px;
    }
}
