

.dinoFerrari {
    display: flex;
    justify-content: space-between;

}

.dinoFerrari * {
    margin-left: 20px;
    margin-right: 20px;
}

.fordVsFerrariImg {


    display: flex;
    flex-direction: row;
}

.fordVsFerrariImg figcaption {
    margin-right: 10px;
}
