.DS_Store

node_modules
fazueli.jpg
/LMP/08.08/ExeMVC/nbproject/private/
/LMP/08.08/ExeMVC/build/
/LMP/08.08/Ex01/nbproject/private/
/LMP/08.08/TelaCadastroProduto/nbproject/private/
/LMP/15.08/JavaApplication8/nbproject/private/
/LMP/15.08/JavaApplication8/build/
/LMP/15.08/CadastroAlunos/nbproject/private/
/LMP/15.08/CadastroAlunos/build/
/LMP/15.08/ExeMVCAluno/nbproject/private/
/LMP/15.08/ExeMVCAluno/build/
/LMP/29.08/CadastroAtletas/nbproject/private/
/LMP/29.08/CadastroAtletas/build/
/LMP/29.08/CadastroAtletas_1/nbproject/private/
/LMP/29.08/Ex4/nbproject/private/
/LMP/29.08/exercicio4/nbproject/private/
/LMP/12.09/clienteProduto/nbproject/private/
/LMP/12.09/clienteProduto/build/
**/paraDeCriarProjetoNessasPastas.txt